{% if settings.title is not empty %}
	{% set id_attribute = (settings._cssid is defined and settings._cssid is not empty) ? 'id=' ~ settings._cssid|e('html_attr') : '' %}
	{% set attributes = '' %}
	{% if settings.attributes is defined and settings.attributes is iterable %}
		{% for item in settings.attributes %}
			{% if item.key is not empty and item.value is not empty %}
				{% set attributes = attributes ~ (item.key|e('html_attr')) ~ '="' ~ (item.value|e('html_attr')) ~ '"' ~ (not loop.last ? ' ' : '') %}
			{% endif %}
		{% endfor %}
	{% endif %}
	<{{ settings.tag|default('div')|e('html_tag') }} class="{{ settings.classes|merge([base_styles.base])|join(' ') }}"{{ id_attribute ? ' ' ~ id_attribute : '' }}{{ attributes ? ' ' ~ attributes : '' }}>
	{% if settings.link is defined and settings.link.href %}
		<a href="{{ settings.link.href }}" target="{{ settings.link.target|default('_self') }}" class="{{ base_styles['link-base'] }}">
			{{ settings.title }}
		</a>
	{% else %}
		{{ settings.title }}
	{% endif %}
	</{{ settings.tag|default('div')|e('html_tag') }}>
{% endif %}
