{% if settings.source is not empty %}
	{% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') %}
	{% set data_settings = {
        'source': settings.source,
        'autoplay': settings.autoplay,
        'mute': settings.mute,
        'controls': settings.controls,
        'rel': settings.rel,
        'playsinline': settings.play_on_mobile,
        'start': settings.start,
        'end': settings.end,
        'cc_load_policy': settings.cc_load_policy,
        'privacy': settings.yt_privacy
    } %}
    <div data-id="{{ id }}" data-e-type="{{ type }}" class="{{ classes }}" data-settings="{{ data_settings|json_encode|e('html_attr') }}">
        {{ settings.source }}
    </div>
{% endif %}
