{% if settings.source is not empty %}
	{% set id_attribute = settings._cssid is not empty ? 'id=' ~ settings._cssid | e('html_attr') : '' %}
	{% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') %}
	{% set attributes = '' %}
	{% if settings.attributes is defined and settings.attributes is iterable %}
		{% set attributes %}
			{% for item in settings.attributes %}
				{% if item.key is not empty and item.value is not empty %}
					{{- item.key | e('html_attr') }}="{{ item.value | e('html_attr') }}"{% if not loop.last %} {% endif %}
				{% endif %}
			{% endfor %}
		{% endset %}
	{% endif %}
	{% set data_settings = {
		'source': settings.source,
		'autoplay': settings.autoplay,
		'mute': settings.mute,
		'controls': settings.player_controls,
		'cc_load_policy': settings.captions,
		'loop': settings.loop,
		'rel': settings.rel,
		'start': settings.start,
		'end': settings.end,
		'privacy': settings.privacy_mode,
		'lazyload': settings.lazyload,
	} %}
	<div data-id="{{ id }}" data-e-type="{{ type }}" class="{{ classes }}" {{ attributes }} data-settings="{{ data_settings|json_encode|e('html_attr') }}"></div>
{% endif %}
