{% if settings.link is not empty %}
	{% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') %}
	{% set data_settings = {
		'mute': settings.mute|default(false),
		'controls': settings.controls|default(true),
		'autoplay': settings.autoplay|default(false),
		'loop': settings.loop|default(false),
		'rel': settings.rel|default(false),
		'play_on_mobile': settings.play_on_mobile|default(false),
		'cc_load_policy': settings.cc_load_policy|default(false),
		'start': settings.start|default(null),
		'end': settings.end|default(null),
		'yt_privacy': settings.yt_privacy|default(false)
	} %}
	<div data-id="{{ id }}" data-e-type="{{ type }}" class="{{ classes }}" data-settings="{{ data_settings|json_encode }}">
		{{  settings.link }}
	</div>
{% endif %}
