{% if settings.text is not empty %}
    {% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') %}
	{% set id_attribute = settings._cssid is not empty ? 'id=' ~ settings._cssid | e('html_attr') : '' %}
	{% set attributes = settings.attributes 
		| filter(a => a.key is not empty and a.value is not empty) 
		| map(a => a.key|e('html_attr') ~ '="' ~ a.value|e('html_attr') ~ '"') 
		| join(' ') 
	%}
    {% if settings.link.href %}
        <a
                href="{{ settings.link.href }}"
                target="{{ settings.link.target }}"
                class="{{ classes }}"
				{{ id_attribute }} {{ attributes }}
        >
            {{ settings.text }}
        </a>
    {% else %}
        <button class="{{ classes }}" {{ id_attribute }} {{ attributes }}>
            {{ settings.text }}
        </button>
    {% endif %}
{% endif %}
