{% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') %}
{% set text = settings.text %}

{% if settings.link.href %}
    <a href="{{ settings.link.href | e('full_url') }}" target="{{ settings.link.target }}" class="{{ classes }}">
        {{ text }}
    </a>
{% else %}
    <button class="{{ classes }}">
        {{ text }}
    </button>
{% endif %}