{% if settings.text is not empty %}
    {% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') %}

    {% if settings.link.href %}
        <a
                href="{{ settings.link.href | e('full_url') }}"
                target="{{ settings.link.target }}"
                class="{{ classes }}"
        >
            {{ settings.text }}
        </a>
    {% else %}
        <button class="{{ classes }}" data-id="{{ id }}" data-e-type="{{ type }}">
            {{ settings.text }}
        </button>
    {% endif %}
{% endif %}
