{% set text_content = settings.text.text is defined ? settings.text.text : settings.text %}
{% if text_content is not empty %}
	{% set id_attribute = settings._cssid is not empty ? 'id=' ~ settings._cssid | e('html_attr') : '' %}
	<span
		data-interaction-id="{{ id }}"
		class="{{ settings.classes | merge( [ base_styles.base ] ) | join(' ') }}"
		{{ id_attribute }}
		{{ settings.attributes | raw }}
	>{{ text_content | raw }}</span>
{% endif %}
