{% set imageTag %}
	<img class="{{ settings.classes | join(' ') }}"
		{% for attr, value in settings.image %}
			{% if attr == 'src' %}
				src="{{ value | e('full_url') }}"
			{% else %}
				{{ attr | e('html_attr') }}="{{ value }}"
			{% endif %}
		{% endfor %}
	/>
{% endset %}

{% if settings.link.href %}
	<a href="{{ settings.link.href | e('full_url') }}" target="{{ settings.link.target }}">
		{{ imageTag }}
	</a>
{% else %}
	{{ imageTag }}
{% endif %}
