{% set state_class = settings.state == 'paused' ? 'e-background-video--paused' : 'e-background-video--playing' %}
{% set classes = ['e-background-video', state_class, 'e-con', 'e-atomic-element', base_styles.base] | merge(settings.classes | default([])) | join(' ') %}
<div class="{{ classes }} {{ editor_classes | default('') }}"
	data-id="{{ id }}"
	data-element_type="{{ type }}"
	data-e-type="{{ type }}"
	data-interaction-id="{{ interaction_id }}"
	data-interactions="{{ interactions | json_encode | e('html_attr') }}"
	x-data="eBackgroundVideo{{ id }}"
	x-bind="rootState"
	data-e-settings="{{ settings | json_encode | e('html_attr') }}"
	{% if settings._cssid is defined and settings._cssid is not empty %}
		id="{{ settings._cssid | e('html_attr') }}"
	{% endif %}
	{% if settings.attributes is defined and settings.attributes is not empty %}
		{{ settings.attributes | raw }}
	{% endif %}
	{{ editor_attributes | default('') | raw }}>
	{% if settings.source.url is not empty %}
		<video class="e-background-video__media"
			aria-hidden="true"
			{% if settings.autoplay %}autoplay{% endif %}
			{% if settings.mute %}muted{% endif %}
			{% if settings.loop %}loop{% endif %}
			playsinline
			preload="auto">
			<source src="{{ settings.source.url | e('full_url') }}{{ video_timings }}">
		</video>
	{% endif %}
	<!-- elementor-children-placeholder -->
</div>
